* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hea-der {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.hea-der .nav-bar {
  height: 100px;
  width: 100%;
}
.hea-der .nav-bar #check {
  display: none;
}
.hea-der .nav-bar .checkbtn {
  font-size: 30px;
  color: #021544;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.hea-der .nav-bar .enlace {
  position: absolute;
  padding: 25px 80px;
  color: #021544;
  text-decoration: none;
}
.hea-der .nav-bar .enlace h1 {
  position: absolute;
  display: inline-block;
  font-size: 31px;
  font-weight: bolder;
  padding: 5px 0px 0px 0px;
}
.hea-der .nav-bar ul {
  float: right;
  margin-right: 50px;
  margin-bottom: 0px;
}
.hea-der .nav-bar ul li {
  display: inline-block;
  line-height: 100px;
  margin: 0 5px;
}
.hea-der .nav-bar ul li a {
  color: #021544;
  font-size: 18px;
  padding: 7px 15px;
  border-radius: 3px;
  text-decoration: none;
}
.hea-der .nav-bar ul li a:hover {
  background: rgba(24, 190, 235, 0.6549019608);
  transition: 0.5s;
}

.fondo-index {
  position: relative;
  text-align: center;
}
.fondo-index .fondo-edificio {
  width: 100%;
}
.fondo-index .centrado h2 {
  color: white;
  font-weight: bold;
  text-shadow: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

.servicios {
  color: #021544;
  width: 100%;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
}
.servicios article {
  padding: 25px;
  margin: -120px 30px 150px 30px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 5px 5px 15px gray;
  height: 330px;
  width: 330px;
}
.servicios article h3 {
  font-size: 22px;
  font-weight: bolder;
}
.servicios article p {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.servicios article a {
  padding: 5px;
  border-radius: 12px;
  background-color: #10BDED;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.formulario {
  text-align: center;
  margin-bottom: 75px;
}
.formulario h2 {
  color: #021544;
  border-style: none none solid none;
  border-width: 5px;
  border-color: #10BDED;
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  margin-top: 55px;
}

.carrucel {
  display: flex;
  flex-direction: none;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: none;
  overflow-x: scroll;
  margin-bottom: 30px;
}
.carrucel .elem-carr {
  flex: 0 0 auto;
  margin-right: 30px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
}
.carrucel .elem-carr a img {
  width: 114px;
  height: 114px;
}

.hosting {
  box-shadow: 5px 5px 15px gray;
  background-color: #EDECEC;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  margin: 30px;
}
.hosting div h2 {
  color: #021544;
  border-style: none none solid none;
  border-width: 5px;
  border-color: #10BDED;
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  margin-top: 55px;
}
.hosting .hosting-info p {
  font-size: 18px;
  text-align: left;
}
.hosting .hosting-info ul {
  text-align: left;
}
.hosting .hosting-info ul li {
  text-decoration: none;
  font-size: 18px;
}
.hosting .hosting-img img {
  width: 25rem;
  height: 13rem;
}

.desarrollo-web, .marketing-digital, .consultoria {
  padding: 35px;
  background-color: #F6F7C1;
  margin: 25px;
  border-radius: 25px;
  box-shadow: 5px 5px 15px gray;
}
.desarrollo-web .d3, .marketing-digital .d3, .consultoria .d3 {
  color: black;
  font-weight: bolder;
  font-size: 18px;
}
.desarrollo-web h4, .marketing-digital h4, .consultoria h4 {
  color: black;
  font-weight: bolder;
  font-size: 18px;
}
.desarrollo-web .btn a, .marketing-digital .btn a, .consultoria .btn a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.consultoria {
  background-color: #C1AEFC;
}
.consultoria .d3 {
  color: black;
  font-weight: bolder;
  font-size: 18px;
}
.consultoria h4 {
  color: black;
  font-weight: bolder;
  font-size: 18px;
}
.consultoria .btn a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.marketing-digital {
  background-color: #BEF0CB;
}
.marketing-digital .d3 {
  color: black;
  font-weight: bolder;
  font-size: 18px;
}
.marketing-digital h4 {
  color: black;
  font-weight: bolder;
  font-size: 18px;
}
.marketing-digital .btn a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.proy-emp {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: none;
  grid-gap: 30px;
  justify-content: none;
  align-items: none;
  margin: 60px 0px;
}
.proy-emp a {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
}
.proy-emp a img {
  width: 230px;
  height: 230px;
}

.info-empresa {
  color: #021544;
  padding: 35px;
  background-color: #BEF0CB;
  margin: 25px;
  border-radius: 25px;
  box-shadow: 5px 5px 15px gray;
}
.info-empresa p {
  color: black;
  font-weight: bolder;
  font-size: 16px;
}
.info-empresa .btn a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.backgr-conta .fondo-contacto {
  width: 100%;
}

.formulario h3 {
  color: #021544;
  font-weight: bold;
  font-size: 20px;
  margin: 15px 10px;
}

.pie-pagina {
  width: 100%;
  background-color: black;
}
.pie-pagina .fot-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: none;
  grid-gap: 30px;
  justify-content: none;
  align-items: none;
  padding: 40px 0px;
}
.pie-pagina .fot-1 .area p {
  color: white;
}
.pie-pagina .fot-1 .area h4 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: bold;
}
.pie-pagina .fot-1 .area .mapa {
  text-align: center;
}
.pie-pagina .fot-1 .area .navbar-footer {
  padding-left: 0px;
}
.pie-pagina .fot-1 .area .navbar-footer li {
  margin-bottom: 12px;
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
}
.pie-pagina .fot-1 .area .navbar-footer li a {
  text-decoration: none;
  color: white;
}
.pie-pagina .fot-1 .area .redes a {
  display: inline-block;
  margin-right: 15px;
}
.pie-pagina .fot-2 {
  background-color: rgb(15, 15, 15);
  padding: 15px;
  text-align: center;
  color: white;
}
.pie-pagina .fot-2 h3 {
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
