*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/*
Colores
#021544 - letras
#10BDED - botones
#0D0B0B - footer
#EDECEC - hosting
#BEF0CB - color de fondo /empresa
#C1AEFC - servicios
#F6F7C1 - servicios


font : 
font-family: 'Poppins', sans-serif;
*/
/********************* barra de navegacion  *****************/
header{
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
}

nav{
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 15px 80px;
    color: #021544;
    
}

.enlace h1{
    position: absolute;
    display: inline-block;
    font-size: 31px;
}

nav ul{
    float: right;
    margin-right: 50px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #021544;
    font-size: 18px;
    padding: 7px 15px;
    border-radius: 3px;
}

li a:hover{
    background:#18beeba7;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #021544;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


@media (max-width: 1024px){
    nav ul{
        margin-right: 30px;
    }
    .enlace{
        padding-left: 30px;
    }
    nav ul li a{
        font-size: 16px;
        padding: 0px 5px;
    }
}

@media (max-width: 900px){
    nav ul{
        margin-right: 20px;
    }
    .enlace{
        padding-left: 20px;
    }
}

@media (max-width: 768px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #EDECEC;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul{
        left:0;
    }
}
/*********************   *****************/
.fondo-index{
    position: relative;
    text-align: center;
} 

.fondo-edificio{
    height: 672px;
    width: 100%;
    
}

.fondo-contacto{
    width: 100%;
}

.centrado h2 {
    color: white;
    font-weight: bold;
    text-shadow: rgb(30, 30, 30);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

main, footer {
    font-family: 'Poppins', sans-serif;
}

.servicios{
    color: #021544;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.servicios div{
    padding: 25px;
    margin: 10px;
    border-radius: 12px;
    background-color: white;
    box-shadow:5px 5px 15px gray;
    height: 330px;
    width: 330px;
}

.servicios div a {
    padding: 5px;
    border-radius: 12px;
    background-color:#10BDED;
    text-decoration: none;
    margin:10px;
    color: white;
    font-weight: bold;
}

.empresas img{
    height: 114px;
    width: 114px;
    margin: 35px;
}

.hosting {
    background-color: #EDECEC;
    padding: 25px;
    border-radius: 12px;
    box-shadow:5px 5px 15px gray;
    width: 1206px;
    height: 461px;
    display: inline-block;
    color: #021544;
}
.hosting h2 {
    text-align: center;
}

.formulario h2{
    color: #021544;
    border-style: none none solid none;
    border-width: 5px;
    border-color: #10BDED;
    text-align: center;
}



.boton{
    color:white;
    background-color: #10BDED;
    border-radius: 2px;
}

.info-empresa {
    color: #021544;
    padding: 35px;
    background-color: #BEF0CB;
    margin: 25px;
    border-radius: 25px;
    box-shadow:5px 5px 15px gray;
}

.info-empresa p{
    color: black;
}

.desarrollo-web {
    padding: 35px;
    background-color: #F6F7C1;
    margin: 25px;
    border-radius: 25px;
    box-shadow:5px 5px 15px gray;
}

.consultoria {
    padding: 35px;
    background-color: #C1AEFC;
    margin: 25px;
    border-radius: 25px;
    box-shadow:5px 5px 15px gray;
}

.marketing-digital {
    padding: 35px;
    background-color:#BEF0CB;
    margin: 25px;
    border-radius: 25px;
    box-shadow:5px 5px 15px gray;
}

footer{
    color: white;
    background-color: black;
}

.navbar-footer{
    list-style: none;
}

.navbar-footer li a{
    text-decoration: none; 
    color: white; 
}

.derechos {
    padding: 10px;
    background-color: #171313;
    text-align: center;
}