$tipografia-principal: 'Poppins', sans-serif;
$color-font: #021544;
$color-principal-footer:black;
$color-copy-footer:rgb(15, 15, 15);
$color-font-footer:white;
$color-botones:#10BDED;
$color-border:#10BDED;
$color-sombras:5px 5px 15px gray;
$color-letras-boton:white;
