
.pie-pagina{
    width: 100%;
    background-color:$color-principal-footer;
    .fot-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        @include grid(repeat(3,1fr),none,30px,none,none);
        padding: 40px 0px;
        .area {
            p{
                color: $color-font-footer;
            }
            h4{
                color: $color-font-footer;
                margin-bottom: 25px;
                font-size: 20px;
                font-weight:bold;
            }
            .mapa{
                    text-align: center;
            }    
            .navbar-footer{
                padding-left: 0px;
                li{
                    margin-bottom: 12px;
                    @include flex(none,none,center,center);
                    a{
                        text-decoration: none;
                        color: $color-font-footer;
                    }
                }
            }
            .redes {
                a{
                    display: inline-block;
                    margin-right: 15px;
                }
            }
            
            
        }
    }
    .fot-2 {
        background-color:$color-copy-footer;
        padding: 15px;
        text-align: center;
        color: $color-font-footer;
        h3{
            font-size: 20px;
        }
    }
}
