.hea-der{
    font-family: $tipografia-principal;
    font-weight:bold;
    .nav-bar{
        height: 100px;
        width: 100%;
        
        .checkbtn{
            font-size: 30px;
            color: #021544;
            float: right;
            line-height: 80px;
            margin-right: 40px;
            cursor: pointer;
            display: none;
        }
        .enlace{
            position: absolute;
            padding: 25px 80px;
            color: #021544;
            text-decoration: none;
            h1{
                position: absolute;
                display: inline-block;
                font-size: 31px;
                font-weight:bolder;
                padding: 5px 0px 0px 0px;
            }
        }
        ul{
            float: right;
            margin-right: 50px;
            margin-bottom: 0px;
            li{
                display: inline-block;
                line-height: 100px;
                margin: 0 5px;
                a{
                    color: #021544;
                    font-size: 18px;
                    padding: 7px 15px;
                    border-radius: 3px;
                    text-decoration: none;
                }
            }
        }
    }
}

li a:hover{
    background:#18beeba7;
    transition: .5s;
}

#check{
    display: none;
}