
.backgr-conta{
    .fondo-contacto{
        width: 100%;
    }
}

.formulario {
    h3{
        color:$color-font;
        font-weight:bold;
        font-size: 20px;
        margin: 15px 10px;
    }
}
