@media (max-width: 1200px) {
    .pie-pagina {
        .fot-1 {
                max-width: 900px;
        }
    }
    .proy-emp {
        gap: 20px;
        a img{
            width: 180px;
            height: 180px;
        }
    }
}
